@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.title1 = "";
    ViewBag.title2 = "Receipt From Production";
    ViewData["Title"] = "ReceiptFromProduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/jquery-3.6.3.slim.js"></script>
<!-- Render Body <Start> -->
<!--begin::Subheader-->
<link href="~/css/commonstyle.css" rel="stylesheet" />
<!--end::Subheader-->
<!--begin::Entry-->
<div class="container mt-5">

    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon-notepad text-primary"></i>
                </span>
                <h3 class="card-label">Receipt From Production</h3>
            </div>
            @* <div class="card-toolbar">
            <button class="bt btn-brand"  type="button">
            Add
            </button>

            <!--end::Button-->
            </div>*@
            <div class="card-toolbar">
                <div class="btn-group">
                    <button type="button" id="btnPostToSap" class="btn btn-success font-weight-bolder mr-2">
                        <i class="fas fa-database"></i>  Post To SAP
                    </button>

                    <button type="button" id="btnAdd" class="btn btn-primary font-weight-bolder">
                        + Add Record
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!--begin: Datatable-->
            <table class="table table-striped- table-bordered table-hover table-checkable " id="AttTable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>                        
                        <th></th>


                    </tr>
                </thead>
            </table>

            <div class="loading_ic">

                <div class="spinner-border text-primary">
                    <span class="sr-only">Loading...</span>

                </div>


            </div>


            <!--end: Datatable-->
        </div>
    </div>

</div>
<!--end::Entry-->
<!-- Render Body <End> -->

<script>
    var datatable;
    $(document).on('click', '#btnAdd', function () {

        //window.location.href = '/SaleQuotation/GetData?Source='+$('$Guid').val();
        window.location.href = '/ReceiptFromProduction/ReceiptFromProductionMaster';
    })
    function Mastercheck() {
        if (document.getElementById('Mastercheck').checked == true) {
            $("#AttTable tr").each(function () {
                $(this).find("#chckbox").prop("checked", true);
            });
        } else {
            $("#AttTable  tr").each(function () {
                $(this).find("#chckbox").prop("checked", false);
            });
        }
    }

    function generateTable() {

        datatable = $('#AttTable').DataTable({
            responsive: true,
            searching: true,
            ordering: false,
            //   order: [[2, 'asc']],
            ordering: false,
            "ajax": {

                // url: '/HrAdmin/GetAttendanceList_MainLines?Date=' + $('#FilterDate').val(),
                url: '/ReceiptFromProduction/GetData',
            },

            layout: {
                scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
                // height: 450, // datatable's body's fixed height
                footer: false, // display/hide footer
            },

            // column sorting
            sortable: true,

            pagination: true,
            destroy: true,
            //   async: false,
            search: {
                input: $('#generalSearch'),
            },
            columns: [
                {
                    data: "id", 'title': '<span style="width: 30px;"><label class="checkbox checkbox-single checkbox-all"><input id="Mastercheck" onclick="Mastercheck()" type="checkbox">&nbsp;<span></span></label></span>', render: function (data, type, row) {

                        if (row.isPosted == "True" && row.isEdited == "False") {
                            return '<span style="backgroung-color:#0ae71057;color: #0c9b22;" class="label label-lg label-light-success label-inline">Posted</span>';
                        } else {
                            return '<span style="width: 30px;"><label class="checkbox checkbox-single checkbox-all"><input guid=' + data + '  id="chckbox" type="checkbox">&nbsp;<span></span></label></span>';
                        }


                    }
                },
                {
                    data: 'docDate', title: 'Created Date', render: function (data, type, row) {
                        if (data != undefined && data != '') {

                            return moment(data).format('DD-MM-YYYY')

                        } else {
                            // return data;
                            return '';
                        }
                    }
                },
                {
                    data: 'cardCode', title: 'Item Code',
                },
                {
                    data: 'comments', title: 'Remarks',
                },                
                {
                    data: "docStatus", 'title': 'Status', render: function (data, type, row) {

                        if (data == "Open") {
                            //var html = `<span class="badge badge-success" style="background-color: #28a745;">Open</span>`;
                            var html = `<span style="backgroung-color:#0ae71057;color: #0c9b22;" class="label label-lg label-light-success label-inline">Open</span>`;
                            return html;



                        } else {
                            //var html = ` <span class="badge badge-danger">Closed</span>`;
                            var html = `<span class="label label-lg label-light-danger label-inline">Closed</span>`;
                            return html;
                        }
                    }
                },
                {
                    data: "guid", 'title': 'Action', render: function (data, type, row) {

                        var html = '<a guid=' + data + ' id="btnFetchBillOfMaterial" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">';
                        html += '<span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Communication\Write.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">';
                        html += '    <g stroke = "none" stroke - width="1" fill = "none" fill - rule="evenodd" >';
                        html += '       <rect x="0" y="0" width="24" height="24" />';
                        html += '      <path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) " />';
                        html += '      <path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />';
                        html += '   </g>';
                        html += '</svg><!--end:: Svg Icon--></span> ';
                        html += '               </a>';
                        return html;

                    }
                },],
        });

    }

    $(document).ready(function () {

        generateTable();
    });
    $(document).on('click', '#btnFetchBillOfMaterial', function (e) {


        var guid = $(this).attr("guid");
        window.location.href = '/ReceiptFromProduction/ReceiptFromProductionMaster/?id=' + guid + '';

    });

    $(document).on('click', '#btnPostToSap', function () {
        $(this).addClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
        $(this).attr('disabled', true);
        let checkedIDs = [];
        $(".loading_ic").addClass('overlay');
        $(".loading_ic").show();
        $('#AttTable tbody tr').each(function (index, item) {

            let CheckBoxObj = $(this).find('#chckbox');

            if ($(CheckBoxObj).is(":checked"))
                checkedIDs.push($(CheckBoxObj).attr('guid'));


        });
        if (checkedIDs.length > 0) {

            $.post("Common/PostGoodReceiptGR", { checkedIDs: checkedIDs, ObjectCode: 59 , BaseType : 102 }, function (response) {
                if (response.isWarning) {
                    $("#btnPostToSap").removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                    $("#btnPostToSap").attr('disabled', false);

                    toastr.warning(response.message);
                    $(".loading_ic").removeClass('overlay dark');
                    $(".loading_ic").hide();
                    datatable.ajax.reload();
                }
                else if (response.isSuccess) {
                    $("#btnPostToSap").removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                    $("#btnPostToSap").attr('disabled', false);

                    toastr.success(response.message);
                    $(".loading_ic").removeClass('overlay dark');
                    $(".loading_ic").hide();
                    datatable.ajax.reload();
                }
                else {
                    $("#btnPostToSap").removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
                    $("#btnPostToSap").attr('disabled', false);
                    toastr.error(response.message);
                    $(".loading_ic").removeClass('overlay dark');
                    $(".loading_ic").hide();
                    datatable.ajax.reload();
                }

            });
        }
        else {
            $("#btnPostToSap").removeClass('kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light');
            $("#btnPostToSap").attr('disabled', false);
            toastr.warning("Documents not Selected !!");
            $(".loading_ic").removeClass('overlay dark');
            $(".loading_ic").hide();
        }

    });


</script>
