
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{
    string username = "";
    string UserId = "";
    string Gender = "";
    string UserPic = "";
    string isnav = "";
    string Contact = "";
    string CompanyName = "";
    string Name = "";
    string Email = "";
    string CompanyContact = "";
    string Website = "";
    string ConmpanyLogo1 = "";
    string SessionId = "";
    string DepartmentName = "";
    string EmployeeOfName = "";
    try
    {

        username = HttpContextAccessor.HttpContext.Session.GetString("username");
        UserId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
        // userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
        Gender = HttpContextAccessor.HttpContext.Session.GetString("Gender");
        UserPic = HttpContextAccessor.HttpContext.Session.GetString("UserPic");
        isnav = HttpContextAccessor.HttpContext.Session.GetString("isnav");
        Contact = HttpContextAccessor.HttpContext.Session.GetString("Contact");
        CompanyName = HttpContextAccessor.HttpContext.Session.GetString("CompanyName");
        Name = HttpContextAccessor.HttpContext.Session.GetString("Name");
        Email = HttpContextAccessor.HttpContext.Session.GetString("Email");
        CompanyContact = HttpContextAccessor.HttpContext.Session.GetString("CompanyContact");
        Website = HttpContextAccessor.HttpContext.Session.GetString("Website");
        SessionId = HttpContextAccessor.HttpContext.Session.GetString("SessionId");
        DepartmentName = HttpContextAccessor.HttpContext.Session.GetString("DepartmentName");
        EmployeeOfName = HttpContextAccessor.HttpContext.Session.GetString("EmployeeOfName");


        ConmpanyLogo1 = HttpContextAccessor.HttpContext.Session.GetString("CompnayLogo");
        //int newURL1 = ConmpanyLogo1.IndexOf("wwwroot") + 7;
        //string x1 = ConmpanyLogo1.Remove(0, newURL1);
        //string z1 = @"\";
        //x1 = x1.Replace(z1, "/");
        //string ConmpanyLogo = x1;
    }
    catch (Exception ex)
    {
        Html.ActionLink("Home", "Index");
    }
}


<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Applications/User/Profile3-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__body">
                    <div class="kt-widget kt-widget--user-profile-3">
                        <div class="kt-widget__top">
                            <div class="kt-widget__media kt-hidden-">
                                @{
                                    if (!string.IsNullOrEmpty(UserPic))
                                    {
                                        <img class="kt-show" alt="Pic" src="@UserPic" />
                                    }
                                    else
                                    {
                                        <img class="kt-show" alt="Pic" src="\Assets\img\defaultDP.png" />
                                    }
                                }

                                @*  <img src="@UserPic" alt="image">*@
                            </div>
                            <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                                JM
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__head">
                                    <a href="#" class="kt-widget__username">
                                        @Name
                                        <i class="flaticon2-correct"></i>
                                    </a>

                                    <div class="kt-widget__action">
                                        @*<button type="button" class="btn btn-label-success btn-sm btn-upper">ask</button>&nbsp;
                                            <button type="button" class="btn btn-brand btn-sm btn-upper">hire</button>*@
                                    </div>
                                </div>

                                <div class="kt-widget__subhead">
                                    <a href="#"><i class="flaticon2-new-email"></i>@Email</a>
                                    <a href="#"><i class="flaticon2-calendar-3"></i>@DepartmentName </a>
                                    <a href="#"><i class="flaticon2-placeholder"></i>@EmployeeOfName</a>
                                </div>

                                <div class="kt-widget__info">
                                    <div class="kt-widget__desc">
                                        I distinguish three main text objektive could be merely to inform people.
                                        <br> A second could be persuade people.You want people to bay objective
                                    </div>

                                    <div class="kt-widget__progress">
                                        <div class="kt-widget__text">
                                            Tickets Progress
                                        </div>
                                        <div class="progress" style="height: 5px;width: 100%;">
                                            <div id="TicketProgreeBar" class="progress-bar kt-bg-success" role="progressbar" style="width: 0%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div id="ProText" class="kt-widget__stats">
                                            0%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__bottom">


                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-pie-chart"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title">Total Tickets</span>
                                    <span id="TotalTickets" class="kt-widget__value">-</span>
                                </div>
                            </div>

                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-file-2"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span id="TotalPendingTickets" class="kt-widget__title">Pending Tickets</span>
                                    <a href="/TicketingSystem/PendingTickets?Source=9245fe4ad402451cb9ed9c1a042474821101202105224456" class="kt-widget__value kt-font-brand">View</a>


                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-file-2"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span id="TotalInProgressTickets" class="kt-widget__title">-</span>
                                    <a href="/TicketingSystem/index?Source=9245fe4ad402451cb9ed9c1a042474821101202105224455" class="kt-widget__value kt-font-brand">View</a>
                                </div>
                            </div>

                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-chat-1"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span id="TotalCompletedTickets" class="kt-widget__title">-</span>
                                    <a href="/TicketingSystem/CompletedTickets?Source=9245fe4ad402451cb9ed9c1a042474821101202105424456" class="kt-widget__value kt-font-brand">View</a>
                                </div>
                            </div>

                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-chat-1"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span id="TotalRejectedTickets" class="kt-widget__title">-</span>
                                    <a href="/TicketingSystem/index?Source=9245fe4ad402451cb9ed9c1a042474821101202105224455" class="kt-widget__value kt-font-brand">View</a>
                                </div>
                            </div>
                            <div id="StarRatingDiv" class="kt-widget__item">
                                <div class="kt-widget__details">
                                    <input disabled data-size="sm" class="rating" type="text" id="UserStarRating" name="itemNameDtl" placeholder="">
                                </div>
                            </div>

                            @*<div class="kt-widget__item">
                                    <div class="kt-widget__icon">
                                        <i class="flaticon-network"></i>
                                    </div>
                                    <div class="kt-widget__details">
                                        <div class="kt-section__content kt-section__content--solid">
                                            <div class="kt-media-group">
                                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
                                                    <img src="../../../../../themes/metronic/theme/default/demo1/dist/assets/media/users/100_1.jpg" alt="image">
                                                </a>
                                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
                                                    <img src="../../../../../themes/metronic/theme/default/demo1/dist/assets/media/users/100_10.jpg" alt="image">
                                                </a>
                                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
                                                    <img src="../../../../../themes/metronic/theme/default/demo1/dist/assets/media/users/100_11.jpg" alt="image">
                                                </a>
                                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
                                                    <img src="../../../../../themes/metronic/theme/default/demo1/dist/assets/media/users/100_2.jpg" alt="image">
                                                </a>
                                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                                    <img src="../../../../../themes/metronic/theme/default/demo1/dist/assets/media/users/100_3.jpg" alt="image">
                                                </a>
                                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                                    <span>+3</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="kt-widget__item">

                            </div>

                        </div>
                    </div>


                </div>

            </div>

            <!--end:: Widgets/Applications/User/Profile3-->
        </div>
    </div>


    @*<div class="row">
        <div class="col-lg-6">
            <!--Begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Basic Notes
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                   
                </div>
            </div>
            <!--End::Portlet-->
        </div>

    </div>*@
    <div class="row">
        <div class="col-lg-6">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon2-notification kt-font-brand"></i>
                        </span>
                        <h3 id="heading" class="kt-portlet__head-title"> White Board</h3>

                    </div>

                </div>
                <div class="kt-portlet__body">
                    <div class="kt-notes">
                        <div class="kt-notes__items" style="overflow-x:auto;max-height:600px;overflow-x:hidden" id="UserNotes">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>

<script>

    $(document).ready(function () {

        DashboarddData();


    });

    $(document).on('click', '.kt-notes__content', function () {
        
     
        UpdateNote($(this));
    })

    function UpdateNote(val) {
        debugger
        var id = $(val).attr('noteid');
        return $.ajax({
            url: '/WhiteBoard/UpdateNote',
            dataType: 'json',
            data: { NoteId: id },
            type: 'Get',
            success: function (result) {
              
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }

        }).done(function (result) {
            if (result.isInserted) {

                $(val).css("background-color", "#fff");
                $(val).closest().find('#noteBadge').hide();
            }
        });
    }

    function DashboarddData() {

        return $.ajax({

            url: '/WhiteBoard/GetNotesByUserId',
            dataType: 'json',
            type: 'Get',
            success: function (result) {

            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }

        }).done(function (result) {
            
         
            result = result.data;
            var html = '';

            for (var i = 0; i < result.length; i++) {

                html += '  <div class="kt-notes__item">';
                html += '   <div class="kt-notes__media">';
                html += '         <span class="kt-notes__icon">';
                html += '            <i class="flaticon2-notification kt-font-brand"></i>';
                html += '        </span>';
                html += '     </div>';
                if (result[i].isRead == false) {
                    html += '     <div  noteid="' + result[i].id + '" class="kt-notes__content" >';
                }
                else {
                    html += '     <div  noteid="' + result[i].id + '" class="kt-notes__content" style="background-color: #fff">';

                }
                html += '         <div class="kt-notes__section">';
                html += '            <div class="kt-notes__info">';
                html += '                <a href="#" class="kt-notes__title">';
                html += '                    New order';
                html += '                              </a>';
                html += '              <span class="kt-notes__desc">';
                html += '                  ' + moment(result[i].targetDate).format('YYYY-MMM-DD dddd') + '';
                html += '                              </span>';
                if (result[i].isRead == false) {

                    html += '               <span id="noteBadge" class="kt-badge kt-badge--brand kt-badge--inline">New</span>';

                }
               // html += '       <button type="button" class="btn btn-brand" style="float:right">Read</button> ';

                html += '          </div > ';
                html += '        </div>';
                html += '        <span class="kt-notes__body">';
                html += '       ' + result[i].description + ' ';
                html += '                        </span>';
                html += '    </div>';
                html += '   </div>';

            }

            $('#UserNotes').html(html);
        });

    }

</script>