
label#user-lable {
    margin-bottom: 1%;
}

.kt-avatar {
    position: relative;
    display: inline-block;
}

    .kt-avatar .kt-avatar__holder {
        width: 120px;
        height: 120px;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .kt-avatar .kt-avatar__upload {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

        .kt-avatar .kt-avatar__upload input {
            width: 0 !important;
            height: 0 !important;
            overflow: hidden;
            opacity: 0;
        }

        .kt-avatar .kt-avatar__upload i {
            color: #5d78ff;
            font-size: 0.9rem;
        }

        .kt-avatar .kt-avatar__upload:hover {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            background-color: #5d78ff;
        }

            .kt-avatar .kt-avatar__upload:hover i {
                color: #ffffff;
            }

    .kt-avatar .kt-avatar__cancel {
        cursor: pointer;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: auto;
        right: -10px;
        bottom: -5px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        display: none;
    }

        .kt-avatar .kt-avatar__cancel i {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            color: #74788d;
            font-size: 0.9rem;
        }

        .kt-avatar .kt-avatar__cancel:hover i {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            color: #5d78ff;
        }

    .kt-avatar.kt-avatar--changed .kt-avatar__cancel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .kt-avatar.kt-avatar--brand .kt-avatar__upload i {
        color: #5d78ff;
    }

    .kt-avatar.kt-avatar--brand .kt-avatar__upload:hover {
        background-color: #5d78ff;
    }

        .kt-avatar.kt-avatar--brand .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--light .kt-avatar__upload i {
        color: #ffffff;
    }

    .kt-avatar.kt-avatar--light .kt-avatar__upload:hover {
        background-color: #ffffff;
    }

        .kt-avatar.kt-avatar--light .kt-avatar__upload:hover i {
            color: #282a3c;
        }

    .kt-avatar.kt-avatar--dark .kt-avatar__upload i {
        color: #282a3c;
    }

    .kt-avatar.kt-avatar--dark .kt-avatar__upload:hover {
        background-color: #282a3c;
    }

        .kt-avatar.kt-avatar--dark .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--primary .kt-avatar__upload i {
        color: #5867dd;
    }

    .kt-avatar.kt-avatar--primary .kt-avatar__upload:hover {
        background-color: #5867dd;
    }

        .kt-avatar.kt-avatar--primary .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--success .kt-avatar__upload i {
        color: #0abb87;
    }

    .kt-avatar.kt-avatar--success .kt-avatar__upload:hover {
        background-color: #0abb87;
    }

        .kt-avatar.kt-avatar--success .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--info .kt-avatar__upload i {
        color: #5578eb;
    }

    .kt-avatar.kt-avatar--info .kt-avatar__upload:hover {
        background-color: #5578eb;
    }

        .kt-avatar.kt-avatar--info .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--warning .kt-avatar__upload i {
        color: #ffb822;
    }

    .kt-avatar.kt-avatar--warning .kt-avatar__upload:hover {
        background-color: #ffb822;
    }

        .kt-avatar.kt-avatar--warning .kt-avatar__upload:hover i {
            color: #111111;
        }

    .kt-avatar.kt-avatar--danger .kt-avatar__upload i {
        color: #fd397a;
    }

    .kt-avatar.kt-avatar--danger .kt-avatar__upload:hover {
        background-color: #fd397a;
    }

        .kt-avatar.kt-avatar--danger .kt-avatar__upload:hover i {
            color: #ffffff;
        }

    .kt-avatar.kt-avatar--circle .kt-avatar__holder {
        border-radius: 50%;
    }

    .kt-avatar.kt-avatar--circle .kt-avatar__upload {
        right: 0px;
        top: 5px;
    }

    .kt-avatar.kt-avatar--circle .kt-avatar__cancel {
        right: 3px;
        bottom: 10px;
    }

    .kt-avatar.kt-avatar--outline .kt-avatar__holder {
        border: 3px solid #ffffff;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    }





.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

/*.btn-file > input {
    position: absolute;
    top: 0; 
     right: 0; 
    width: 20%;
    height: 20%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
}*/

.btn-file > input {
    position: absolute;
    top: 31%;
    right: 71%;
    width: 25%;
    height: 70%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
}

.col-md-offset-4.col-md-4.to {
    /* padding-left: 1%; */
    padding-top: 1%;
}

img#profile-img-tag {
    margin: 0 0 0 15px;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: block;
}


.icheckbox_minimal-grey,
.iradio_minimal-grey {
    display: inline-block;
    *
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(grey.png) no-repeat;
    border: none;
    cursor: pointer;
}

.input-group.input-medium.date.date-picker {
    width: 0px;
}

.mt-checkbox-inline.to {
    padding-top: 32px;
}

.form-group.to {
    margin-left: 15px;
}

