@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
<!-- Render Body <Start> -->
<!--begin::Entry-->
<div class="container mt-5">

    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon-notepad text-primary"></i>
                </span>
                <h3 class="card-label">All Approvals</h3>
            </div>
            @* <div class="card-toolbar">
            <button class="bt btn-brand"  type="button">
            Add
            </button>

            <!--end::Button-->
            </div>*@
            <div class="card-toolbar">
                <div class="btn-group">
                    @*<button type="button" id="btnAdd" class="btn btn-primary font-weight-bolder">
                        + Add Record
                    </button>*@
                </div>
            </div>
        </div>
        <div class="card-body">
            <!--begin: Datatable-->
            <table class="table table-striped- table-bordered table-hover table-checkable " id="AttTable">
                <thead>
                    <tr>
                        <th></th>                        
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                       


                    </tr>
                </thead>
            </table>
            


            <!--end: Datatable-->
        </div>
    </div>

</div>
<!--end::Entry-->
<!-- Render Body <End> -->

<script>
    //$(document).on('click', '#btnAdd', function () {

    //    //window.location.href = '/SaleQuotation/GetData?Source='+$('$Guid').val();
    //    window.location.href = '/Delivery/DeliveryMaster';
    //})
    var datatable;
    function generateTable() {

        datatable = $('#AttTable').DataTable({
            responsive: true,
            searching: true,
            ordering: false,
         // order: [[2, 'asc']],
            ordering: false,
            "ajax": {

                // url: '/HrAdmin/GetAttendanceList_MainLines?Date=' + $('#FilterDate').val(),
                url: '/AllApprovals/GetAllApprovals',
            },

            layout: {
                scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
                // height: 450, // datatable's body's fixed height
                footer: false, // display/hide footer
            },

            // column sorting
            sortable: true,

            pagination: true,
            destroy: true,
            //   async: false,
            search: {
                input: $('#generalSearch'),
            },
            columns: [
                 
                {
                    data: 'id', title: '#',

                }, {
                    data: 'pageName', title: 'Page Name'

                },{
                    data: 'docNum', title: 'DocNum'

                },{
                    data: 'requestedBy', title: 'Requested By'

                }, {

                    data: "status", 'title': 'Status', render: function (data, type, row) {

                        if(row.seen == 0)
                        {
                            let html = `<div class="d-flex justify-content-around p-2">
                                                <button class="btn btn-sm btn-success" id="btnAccept" onclick=RejectAcceptDoc(`+ row.docEntry + `,` + row.objectCode + `,` + 1 + `,` + row.id + `)><i class="fas fa-check"></i> Accept</button>
                                                <button class="btn btn-sm btn-warning"  id="btnReject" onclick=RejectAcceptDoc(`+ row.docEntry + `,` + row.objectCode + `,` + 0 + `,` + row.id + `)><i class="fas fa-times"></i> Reject</button>
                                        </div>`;
                             return html;
                        }
                        else if(data == 0)
                        {
                            let html = `<div class="d-flex justify-content-center p-2"><span class="label label-lg label-light-warning label-inline">Rejected</span></div>`;
                            return html;
                        }
                        else if (data == 1) 
                        {
                            let html = `<div class="d-flex justify-content-center p-2"><span class="label label-lg label-light-success label-inline">Accepted</span></div>`;
                            return html;
                        }
                        
                    },
                    "width": "200px"
                }, ],
        });
        datatable.on('order.dt search.dt', function () {
            let i = 1;

            datatable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data("<span><b>" + (i++) + "</b></span>");
            });
        }).draw();
    }

    $(document).ready(function () {

        generateTable();
    });


    function RejectAcceptDoc(DocEntry,ObjectType,Status,id)
    {
        $.ajax({
            url: 'AllApprovals/RejectAcceptDoc',
            type: 'POST',
            dataType: 'json',
            async: false,
            data: { DocEntry: DocEntry, ObjectType: ObjectType, Status: Status ,id : id},
            success: function (response) {
                if (response.isSuccess) {
                    if (Status == 1)
                        toastr.success(response.message);
                    if (Status == 0)
                        toastr.warning(response.message);
                        datatable.ajax.reload();
                }
                else 
                {
                    toastr.error(response.message);
                }
              
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

    }
    
    //$(document).on('click', '#btnAccept', function (e) {

    //    var LookTable = $('#AttTable').DataTable();
    //    var selectedRow = $(this).closest('tr');
    //    var rowData = LookTable.row(selectedRow).data();
    //    let approval = $(selectedRow).find("select");
    //    approval = $(approval).val();
        
    //    $.post("AllApprovals/RejectAcceptDoc", { id: $(this).attr('guid'), approvalType : approval }, function (data) {
    //        if (data.success == true) 
    //        {
    //            toastr.success(data.message);
    //            datatable.ajax.reload();
    //        }
    //        else
    //            toastr.error(data.message);

    //    })

    //});
</script>
