@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.title1 = "";
    ViewBag.title2 = "Inventory In Warehouse Report";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/jquery-3.6.3.slim.js"></script>
<!-- Render Body <Start> -->
<!--begin::Subheader-->
<link href="~/css/commonstyle.css" rel="stylesheet" />
<!--end::Subheader-->
<!--begin::Entry-->
<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<link href="~/multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<style>
    tr {
        height : 3.7rem;
    }
    td {
        white-space: nowrap;
    }
    th {
        white-space: nowrap;
    }

    .GrpText {
        font-size : 1.5rem;
    }

    
</style>

<div class="container mt-5">

    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon-notepad text-primary"></i>
                </span>
                <h3 class="card-label">Inventory In Warehouse Report</h3>
            </div>
          
            
        </div>
        <div class="card-body ">
            <!--begin: Datatable-->

            <div class="row mb-5 ml-2">
                <div class="col-md-1 pt-3">
                <i class="fas fa-filter"></i>
                </div>

                <div class="checkbox-inline col-md-2">
                    <label class="checkbox checkbox-success">
                        <input type="checkbox" id="ZeroStock" name="Checkboxes5" />
                        <span class="mr-2">  </span>
                        Hide Item with No Qty
                    </label>
                </div>

                <div class="col-md-3 d-flex">
                    <label class="pt-3">Warehouse: </label>
                    <select class="form-control Warehousedata" id="WhsCode" multiple></select>
                </div>
                <div class="col-md-4 d-flex">
                    <label class="pt-3">Item: </label>
                    <select class="form-control" id="ItemCodes" multiple>

                        @foreach (iSOL_Enterprise.Models.ListModel ItemCode in ViewBag.ItemCodes)
                        {                            
                                <option guid="@ItemCode.ValueString" selected value="@ItemCode.ValueString">@ItemCode.Text </option>
                                
                        }

                    </select>
                </div>
                <a class="btn btn-primary" id="btnFilter"><i class="fab fa-searchengin"></i> Apply Filter</a>
            </div>


            <table class="table  table-bordered " id="AttTable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th> 
                        <th></th> 
                        <th></th> 
                        <th></th> 
                        <th></th> 

                    </tr>
                </thead>
            </table>
            <div class="loading_ic">
                <div class="spinner-border text-primary">
                    <span class="sr-only">Loading...</span>                    
                </div>               
            </div>
            
            <!--end: Datatable-->
        </div>
    </div>

</div>
<!--end::Entry-->
<!-- Render Body <End> -->
<script src="~/multiselect/bootstrap-multiselect.js"></script>
<script>
    var datatable, datatable2, Warehouses = "OWHS.WhsCode,", Items = "OITM.ItemCode,", SelectedItems = "", SelectedWarehouses = "", ZeroStock = true;
   
    
    function generateTable() {

        
        datatable = $('#AttTable').DataTable({
            responsive: true,
            serverSide: true,
            pageLength: 25,
            searching: false,            
            ordering: false,
            order: [[9, 'asc']],
            drawCallback: function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;
                var subTotal = new Array();
                var groupID = -1;
                var aData = new Array();
                var index = 0;

                api.column(9, { page: 'current' }).data().each(function (group, i) 
                {

                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group "><td colspan="10" class="text-center GrpText"><b> <i class="text-success"> <u>Whse:</u>   ' + group + ' </i> </b></td></tr>',
                        );
                        last = group;
                    }
                    var vals = api.row(api.row($(rows).eq(i)).index()).data();
                    var itmTtl = vals.total ? parseFloat(vals.total) : 0;
                    
                    if (typeof aData[group] == 'undefined') {
                        aData[group] = new Array();
                        aData[group].rows = [];
                        aData[group].itmTtl = [];
                    }

                    aData[group].rows.push(i);
                    aData[group].itmTtl.push(itmTtl);


                });

                var idx = 0;


                for (var group in aData) {

                    idx = Math.max.apply(Math, aData[group].rows);

                    var sum = 0;
                    $.each(aData[group].itmTtl, function (k, v) {
                        sum = sum + v;
                    });
                    
                    $(rows).eq(idx).after(
                        '<tr class="group "><td colspan="8" class="text-right GrpText"><b> <i class="text-success"> <u>Total: ' + group + ' </u>     </i> </b></td> ' +
                        '<td class="GrpText"> <b><i class="text-success">' + sum + ' </i> </b> </td>' +

                        '</tr>',
                    );
                }
            },
            columnDefs: [
                {
                    // hide columns by index number
                    targets: [9],
                    visible: false,
                },
            ],
            ajax: {
                url: '/InventoryReport/GetInventoryInWarehouseReportData',
                type: 'POST',
                data: function (data) {
                    // Include the start, length, and draw parameters in the request
                    data.start = data.start;
                    data.length = data.length;
                    data.draw = data.draw;                    
                    data.ZeroStock = ZeroStock;
                    data.searchWhsValue = Warehouses;
                    data.searchItemValue = Items;
                }
            },
            //"ajax": {
            //    url: '/InventoryReport/GetInventoryInWarehouseReportData',
            //},
            "deferRender": true,            
            lengthMenu: [[15, 25, 50, -1], [15, 25, 50, "All"]],
            layout: {
                scroll: true, 
                // height: 450, // datatable's body's fixed height
                footer: true, // display/hide footer
            },

            // column sorting
            sortable: true,

            pagination: true,
            destroy: true,
            //   async: false,
            search: {
                input: $('#generalSearch'),
            },
            columns: [
                               
                {
                    data: 'itemCode', title: 'Item No.',

                },
                {
                    data: 'itemName', title: 'Item Description',

                },
                {
                    data: 'inventoryUom', title: 'Inventory Uom',

                }, {
                    data: 'onHand', title: 'In Stock'

                }, {
                    data: 'isCommitted', title: 'Committed'

                }, {
                    data: 'onOrder', title: 'Ordered'

                },{
                    data: 'available', title: 'Available'

                },{
                    data: 'lastPurPrc', title: 'Item Price'

                },{
                    data: 'total', title: 'Item Total'

                },{
                    data: 'whsCode', title: 'Warehouse'

                } 
            ],
        });
        
    }

    $('#AttTable tbody').on('click', 'tr.group', function () {
        var currentOrder = table.order()[9];
        if (currentOrder[9] === groupColumn && currentOrder[9] === 'asc') {
            table.order([groupColumn, 'desc']).draw();
        } else {
            table.order([groupColumn, 'asc']).draw();
        }
    });
    $('#btnFilter').on('click', function () 
    {
        
        GetSelectedWarehouses();

        
            datatable.column(9).search(SelectedWarehouses).draw();
       
            datatable.column(8).search(SelectedItems).draw();
       
    });
    $('#ZeroStock').on('change', function () {
        ZeroStock =!($(this).is(':checked'));
        

    });


    function GetSelectedWarehouses() 
    {

        Warehouses = "";
        SelectedWarehouses = "";
        var i = 0;
        $("#WhsCode :selected").each(function () {

            if (i == 0) {
                SelectedWarehouses = this.value;
                i++;
            }
            else {
                SelectedWarehouses = SelectedWarehouses + "|" + this.value;
            }

            Warehouses = Warehouses + "'" + this.value + "',";
            
        });
        if (Warehouses == "" || Warehouses.includes("multiselect-all")) {

            Warehouses = "OWHS.WhsCode,";
            SelectedWarehouses = "";
        }
       
    }
    function GetSelectedItems() 
    {

  

        Items = "";
        SelectedItems = "";
        var i = 0;
        $("#ItemCodes :selected").each(function () {

            if (i == 0) {
                SelectedItems = this.value;
                i++;
            }
            else {
                SelectedItems = SelectedItems + "|" + this.value;
            }

            Items = Items + "'" + this.value + "',";
            
        });
        if (Items == "" || Items.includes("multiselect-all")) {

            Items = "OITM.ItemCode,";
            SelectedItems = "";
        }
        
    }
    function GetWareHouseDataThroughClass() {

        return $.ajax({
            url: 'Delivery/GetWareHouseData',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {

                const ii = document.querySelectorAll('.Warehousedata');
                for (const i of ii) {
                    $.each(data, function () {
                        i.innerHTML += "<option  value='" + this.whscode + "'>" + this.whsname + "</option>";
                    });
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

    }
    
    function multi() {

        $('#WhsCode').multiselect({
            includeSelectAllOption: true,         
            selectAllValue: 'multiselect-all',    
            enableFiltering: true,                
            enableCaseInsensitiveFiltering: true, 
            maxHeight: '300',          
            nonSelectedText: 'All',
        });
        $('#ItemCodes').multiselect({
            includeSelectAllOption: true,        
            selectAllValue: 'multiselect-all',   
            enableFiltering: true,              
            enableCaseInsensitiveFiltering: true,
            maxHeight: '300',     
            nonSelectedText: 'All',
        });

    }
    $(document).ready(function () 
    {
        GetWareHouseDataThroughClass();
        generateTable();
        multi();
        
        
    });
    
</script>
